.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.personalInformationForm {
    display: flex;
    flex-direction: column;
}

.workExperienceForm {
    display: flex;
    flex-direction: column;
}

.educationForm {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

.displayOutputSection {
    border: solid black 1px;
    padding: 10px;
    box-shadow: 5px 10px #888888;
}

.printableArea {
    margin: 3vh;
}

@media only screen and (max-width: 600px) {
    .wrapper {
        flex-direction: column;
    }
}